<%- include('partials/header') %>

<div id="jumbotron-centered" class="jumbotron centered">
  <div class="container">
    <center>
        <img style="margin-top:-5%;" class="logo" src="css/poster.png" alt="">
    </center>
    <h1 id="welcome" class="display-3">Welcome to IEEE association</h1>
    <p id="para" class="lead">Keep track of your progress in our association events</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
