<%- include('partials/header') %>

<div id="jumbotron-centered" class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Thanks for logging In!</h1>
    <p class="secret-text">Association office bearers and coordinators</p>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <img style="width:150px;height:180px;" src="css/women.jpg" alt="">
          <h4>Blessy</h4>
          <h5>office bearer 1</h5>
        </div>
        <div class="col-lg-2">
          <img  style="width:150px;height:180px;" src="css/women.jpg" alt="">
          <h4>Charu Sneha</h4>
          <h5>office bearer 2</h5>
        </div>
        <div class="col-lg-2">
        <img style="width:150px;height:180px;"  src="css/men.jpg" alt="">
        <h4>NandhaKumar</h>
        <h5>office bearer 3</h5>
        </div>
        <div class="col-lg-2">
          <img style="width:150px;height:180px;"  style="width:150px;height:180px;" src="css/men.jpg" alt="">
          <h4>Dhanushwaran</h4>
          <h5>office bearer 4</h5>
        </div>
        <div class="col-lg-2">
          <img  style="width:150px;height:180px;" src="css/viji.jpg" alt="">
          <h4>Vijayalakshmi</h4>
          <h5>Co-ordinator 1</h5>
        </div>
        <div class="col-lg-2">
          <img  style="width:150px;height:180px;" src="css/lavanya.jpg" alt="">
          <h4>RajaLavanya</h4>
          <h5>Co-ordinator 2</h5>
        </div>
      </div>

    </div>
    <br><br>
    <h1 id="welcome">List of events in our association</h1>
    <div class="container" style="width:30%;">

<br>
      <li class="list-group-item list-group-item-success">Pre-placement talk</li>
      <li class="list-group-item list-group-item-danger">Mock interview</li>
      <li class="list-group-item list-group-item-warning">Road not taken</li>
      <li class="list-group-item list-group-item-info">Blind coding</li>
      <li class="list-group-item list-group-item-light">Webathon</li>
    </div>
    <br><br>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
